.card-container{
  margin-top: 20px;
  text-align: center;
}

.card{
  border: 1px solid #EBEBEB;
  height: 412px;
  width: 500px;
  margin-left: 60px;
  margin-bottom: 20px;
  display: inline-block;
}

.wineCtn{
  height: 100px;
  padding: 5px;
  border-bottom: 1px solid #EBEBEB;
}

.infoWine{
  display: inline-block;
}

.winePrice{
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  float: right;
}
.imgWine{
  height: 300px;
  display: block;
}

.wineDomain{
  margin: 0;
}